/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #747474;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
}

.logo img {
  height: 23px;
  width: 266px;
}

.main-header {
    background: #fffffffa;
    left: 0;
    position: fixed;
    top: 0;
    transition: box-shadow .25s ease 0s;
    width: 100%;
    z-index: 3;

}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.main-nav a {
  text-decoration: none;
  color:#888f8f;
  font-weight: 400;
  font-size: 13px;
  transition: color 0.3s ease;
  font-style: none;
  font-family: 'Work Sans', sans-serif;
}
.main-nav a:hover {
  color: #00a892;
}

.center-logo {
  height: 30px;
  margin-bottom: 20px;
}

.description {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.description p {
  width: 45%;
  color: #747474;
}

.description a {
  color: #3d83df;
  text-decoration: none;
}

/* Section Hero */
.hero {
  color: #667070;
  text-align: center;
  padding: 75px 20px;
}
.hero h1 {
  color:#00a892;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 40px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.hero-text p {
  font-family: Roboto, Arial, sans-serif;;
  color: #667070;
  width: 400px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
}


/* Section Services / Cartes colorées */
.services {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.services-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
}

.service-box {
  width: 250px;
  padding: 30px 25px;
  border-radius: 10px;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease;
}


.service-box:hover {
  transform: translateY(-5px);
}

.service-box img {
  width: 20px;
  margin-bottom: 0px;
}

.service-box h2 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
}

.service-box p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.service-box select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color:#667070;
}

/* Couleurs des cartes */
.box-patients {
  background-color: #00ccb1;
}

.box-doctors {
  background-color: #3d83df;
}

.box-clinics {
  background-color: #1b2734;
}
.global-message {
  text-align: center;
  margin: 60px auto;
}

.global-message p {
  color: #00b39b;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
}

.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #bfbfbf;
  font-size: 18px;
}
.platform-section {
  background: linear-gradient(to right top, #dff6f5, #ebf9f8);
  padding: 30px 20px;
  font-family: 'Work Sans', sans-serif;
}

.platform-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.platform-left {
  flex: 1;
  min-width: 320px;
  max-width: 500px;
}

.platform-title {
  color: #00b39b;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 20px;
}

.platform-desc {
  color: #747474;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.platform-icon {
  width: 60%;
  max-width: 280px;
}

.platform-right {
  display: grid;
  grid-template-columns: repeat(2, 235px);
  grid-template-rows: auto auto;
  gap: 20px;
  justify-content: center;
  flex: 1;
  min-width: 500px;
}

.stat-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.stat-box img {
  width: 25px;
  margin-bottom: 15px;
}

.stat-box h3 {
  color: #00b39b;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.3;
}

.stat-box p {
  color: #747474;
  font-size: 14px;
  line-height: 1.4;
}


.careers {
  padding: 80px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.careers-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}

.careers-text {
  flex: 1 1 40%;
  min-width: 300px;
}

.careers-text h1 {
  font-size: 2.3rem;
  color: #00a892;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.2;
}

.careers-text p {
  font-size: 16px;
  color: #667070;
  line-height: 1.6;
}

.careers-boxes {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}

.careers-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  text-align: left;
}

.careers-box img {
  width: 30px;
  margin-bottom: 15px;
}

.careers-box h2 {
  font-size: 18px;
  color: #00a892;
  font-weight: 400;
  margin-bottom: 10px;
}

.careers-box p {
  font-size: 14px;
  color: #667070;
  line-height: 1.5;
}

.cities {
  padding: 0px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cities-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.cities h1 {
  font-size: 18px;
  color: #00a892;
  font-weight: 300;
  margin-bottom: 50px;
}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.city-box {
  background-color: #f6f8f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city-box img {
  width: 100%;
  display: block;
}

.city-info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-info h3 {
  margin: 0;
  color: #667070;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6666666667;
  padding: 1.1111111111em;
}

.city-info .btn {
  background-color: #3d83df;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  transition: background-color 0.3s;
  padding: 12px 20px;
  position: relative;
  vertical-align: middle;
} 

.city-info .btn:hover {
  background-color: #286dc0;
}

.join-section {
  padding: 70px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-container {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.join-title {
    color: #333;
    font-size: 1.1428571429em;
    margin-bottom: .75em;
    font-style: normal;
    font-weight: normal;
}

.join-btn {
  font-family: Roboto, Arial, sans-serif;
  display: inline-block;
  padding: 12px 20px;
  font-size: 10px;
  font-weight: 700;
  background-color: #3d83df;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.join-btn:hover {
  background-color: #e2eafc;
}

.main-footer {
    font-family: Roboto, Arial, sans-serif;
    border-top: 1px solid #eef2f2;
    padding: 2em ;
    text-align: center; 
    font-size: 10px;
    color: #ababab;
}

footer a {
  color: #3d83df;
  text-decoration: none;
}


